@import 'global.css';

:root {
    --arrow-icon-scale: 0.7;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    height: 60px;
    border-bottom: 3px solid var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.arrow-icon {
    position: relative;
    cursor: pointer;
    width: calc(72px * var(--arrow-icon-scale));
    height: calc(10px * var(--arrow-icon-scale));
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.arrow-icon::after, .arrow-icon::before {
    content: '';
    position: absolute;
    width: calc(43px * var(--arrow-icon-scale));
    height: calc(10px * var(--arrow-icon-scale));
    background-color: white;
}

.arrow-icon.right::after, .arrow-icon.right::before {
    right: calc(-8px * var(--arrow-icon-scale));
}

.arrow-icon.right::after {
    top: calc(-12px * var(--arrow-icon-scale));
    transform: rotate(45deg);
}

.arrow-icon.right::before {
    top: calc(12px * var(--arrow-icon-scale));
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

.arrow-icon.left::after, .arrow-icon.left::before {
    left: calc(-8px * var(--arrow-icon-scale));
}

.arrow-icon.left::after {
    bottom: calc(-12px * var(--arrow-icon-scale));
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(45deg);
}

.arrow-icon.left::before {
    bottom: calc(12px * var(--arrow-icon-scale));
    transform: rotate(-45deg);
}

main {
    flex-grow: 1; /* extend height to the bottom of the page */
}

.main-wrapper {
    height: 100%; /* make this and child elements extend height to the bottom of the page */
    display: flex;
    flex-direction: row;
}

.graph-column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

iframe {
    width: 800px;
    height: 450px;
    border: none;
    border: 5px solid red;
}